<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-radio-group aria-label="Selecione" appearance="fill">
    <mat-radio-button value="1">Masculino</mat-radio-button>
    <mat-radio-button value="2">Feminino</mat-radio-button>
  </mat-radio-group>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Data nascimento</mat-label>
    <input matInput>
  </mat-form-field>

  



</form>