
    <div class="p-field p-grid">
        <label for="firstname3" class="p-col-fixed" style="width:100px">Nome:</label>
        <div class="p-col">
            <input id="firstname3" type="text" pInputText [(ngModel)]="aluno.nome">
        </div>
    </div>
    <div class="p-formgroup-inline">
        <div class="p-field-checkbox">
            <p-radioButton value="1" [(ngModel)]="aluno.sexo"></p-radioButton>
            <label>Masculino</label>
        </div>
        <div class="p-field-checkbox">
            <p-radioButton value="2" [(ngModel)]="aluno.sexo"></p-radioButton>
            <label>Feminino</label>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="lastname3" class="p-col-fixed" style="width:200px">Data de nascimento:</label>
        <div class="p-col">
            <input id="lastname3" type="text" pInputText [(ngModel)]="aluno.dataNascimento">
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="p-col-24">

        <div class="p-field p-col-12 p-md-3">

            <p-table [value]="listaAluno">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Data nascimento</th>
                        <th>Sexo</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-aluno>
                    <tr>
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.dataNascimento | date : 'dd/MM/yyyy'}}</td>
                        <td>{{aluno.sexo}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
